* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  font-family: 'Lato', sans-serif;
  background-color: #EC0C1C;
  color: #fff;
}

h3 {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  font-weight: normal;
}

.logo-container {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}

.container {
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 12px;
  margin: 20px auto;
  width: 100%;
}

/* .player-list {
  display: inline;
  display: block;
} */

.list-element {
  background-color: #D80919;
  list-style: none;
  height: auto;
  width: 250px;
  display: inline-block;
  margin: 20px;
  text-align: left;
  padding: 10px;
  border-radius: 0px;
  -webkit-box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.list-element:hover {
  -webkit-box-shadow: 0 10px 50px 5px #bf0715;
  box-shadow: 0 10px 50px 5px #bf0715;
}

.img-container {
  text-align: center;
  padding-bottom: 20px;
}

.player-image {
  border-radius: 50%;
  padding: 5px;
  border: 5px solid #fff;
  border-top: 5px solid red;
  width: 80px;
  height: 30px;
  margin: -15px auto;
}

.player-name {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
}

.player-nationality {
  text-transform: uppercase;
}

.player-jersey {
  font-size: 40px;
  display: contents;
  color: #e8e8e8
}

label {
  font-weight: bold;
  margin: 2px;
}

.deets {
  font-weight: normal;
  color: #e8e8e8;
}

hr {
  margin: 20px;
  border: 1px solid #fff;
  background-color: #fff;
}

.teams {
  margin: 20px auto;
  display: grid;
  text-align: center;
}

.btn-chooseteam {
  height: 40px;
  width: 130px;
  border-radius: 10px;
  background-color: #D80919;
  border: 0px solid #fff;
  color: #fff;
  font-size: 16px;
}

.btn-chooseteam:hover {
  -webkit-box-shadow: 0 10px 50px 5px #bf0715;
  box-shadow: 0 10px 50px 5px #bf0715;
}

.btn-team {
  height: 70px;
  width: 70px;
  border: 0px solid #EC0C1C;
  border-radius: 50%;
  background-color: #D80919;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-team:hover {
  border: 3px solid #fff;
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}

.button-cover {
  background-color: inherit;
  border: 5px solid inherit;
  border-radius: 50%;
  padding: 5px;
}

/**********FIXTURES*********/

.fixtures-container {
  background-color: #D80919;
  height: auto;
  width: auto;
  margin: 20px;
  padding: 10px;
  border-radius: 0px;
  -webkit-box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.fixtures-container:hover {
  -webkit-box-shadow: 0 10px 50px 5px #bf0715;
  box-shadow: 0 10px 50px 5px #bf0715;
}
